*{margin: 0;padding: 0;font: 12px/1.5 tahoma, arial, \5b8b\4f53;}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
ul{list-style: none;}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
strong{
    font-weight: bold;
}



#nav ul{
    display: none;
}
#nav:hover ul{
    display: block;
}




/* 内容部分样式 */
.quick_position{
    height: 35px;
    line-height: 35px;
    width: 1180px;
    margin: 0 auto;
}



#detail{
    border: 1px solid #ebebeb;
    margin: 0 auto 10px auto;
    width: 988px;
    position: relative;
    background-color: #fff;    
}
#detail .tb-detail-bd{
    margin: 10px;
}
#detail .tb-detail-bd .tb-property{
    float: left;
    width: 100%;
}
#detail .tb-detail-bd .tb-property .tb-wrap{
    margin-left: 363px;
    position: relative;
    color: #666;
    border-left: 1px solid #ebebeb;
    padding:  0 20px 10px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-detail-hd{
    padding: 10px 0 15px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-detail-hd h1{
    color: #4b4a4a;
    font-size: 16px;
    font-weight: 700;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box{
    width: 507px;
    height: 78px;
    padding: 15px 20px;
    background-color: #ededed;
    color: #4d4d4d;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t{
    overflow: hidden;
    line-height: 30px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-l{
    float: left;
    width: 394px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #a0a0a0;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-l label{
    font-size: 13px;
    float: left;
    line-height: 30px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-l span{
    float: left;
    font-family: "Arial";
    color: #c40000;
    font-weight: bold;
    line-height: 30px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-l span.fh{
    font-size: 16px;
    margin-top: 3px;
    margin-left: 10px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-l span.price{
    font-size: 29px;
    display: inline-block;
    width: 130px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-l del{
    float: left;
    font-size: 15px;
    margin-left: 10px;
    font-family: "Arial";
    text-decoration: line-through;
    line-height: 30px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-r{
    float: right;
    height: 30px;
    padding: 0 5px 0 10px;
    font-size: 13px;
    border-left: 1px solid #a0a0a0;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-r p{
    line-height: 15px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .t .t-r a{
    display: block;
    text-align: center;
    width: 100%;
    line-height: 15px;
    color: #005ffc;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .b{
    margin-top: 15px;
    position: relative;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .b p{
    line-height: 28px;
    margin-bottom: 8px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .b p.first{
    border-left: 1px solid #dcdcdc !important;
}
#detail .tb-detail-bd .tb-property .tb-wrap .cx-box .b p span{
    display: inline-block;
    width: 55px;
    height: 26px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #c40000;
    color: #c40000;
    line-height: 26px;
    margin-right: 15px;
    font-size: 13px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address{
    height: 30px;
    line-height: 30px;
    padding: 15px 20px;
    border-bottom: 1px dashed #c8c8c8;
    font-size: 13px;
    color: #4d4d4d;
    position: relative;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address label{
    float: left;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address .hover-address{
    float: left;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address .hover-address .dz{
    border: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0 25px 0 8px;
    margin-left: 15px;
    position: relative;
    z-index: 99;
    background-color: #fff;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address .hover-address .dz p{
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address .hover-address .dz i{
    display: block;
    width: 13px;
    height: 8px;
    position: absolute;
    right: 12px;
    top: 8px;
    background: url(../images/arrow_icon.png);
    background-position:0px 0px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .ps-address label.r{
    margin-left: 10px;
}
/* 稍后补充的div */


#detail .tb-detail-bd .tb-property .tb-wrap .tb-key{
    clear: both;
    padding: 0;
    padding-left: 10px;
    border: none;
    margin: 18px 0 24px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin{
    border: 1px solid #efefef;
    border-width: 1px 0;
    overflow: hidden;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku{
    padding: 5px 4px 12px 0;
}
#detail .tb-sku .tb-metatit {
    margin-left: 12px;
   
}
#detail .tb-metatit {
    text-align: left;
    width: 50px;
}

#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop{
    width: 550px;
    height: 60px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd ul li{
    float: left;
    margin-right:12px;
    margin-bottom: 12px; 
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dt{
    float: left;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd{
    float: left;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd ul li a{
    display: block;

}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd ul li a.checked,#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd ul li a:hover{
    border: 2px solid #DF0001;
    margin: -1px;
}


#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd ul li a span{
    display: block;
    line-height: 38px;
    height: 38px;
    float: left;
    padding-left: 1px;
}
#detail .tb-detail-bd .tb-property .tb-wrap .tb-key .to-skin .tb-sku .tb-prop dd ul li a img{
    width: 38px;
    height: 38px;
    margin-right: 12px;
}
#detail .tb-prop li a {
    display: block;
    height: 38px;
    padding: 3px 12px 3px 5px !important;
    line-height: 38px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #f2f2f2;
}
#detail .tb-amount{
    padding-bottom:6px;

}
#detail .tb-amount dd {
    line-height: 31px;
    color: #878787;
}
#detail .tb-amount #J_Amount{
    width: 488px;
    float: left;
    height: 35px;
}
#detail .tb-amount #J_Amount .tb-amount-widget{
    width: auto;
    margin-right: 5px;
    float: left;
}
#detail input.tb-text.mui-amount-input {
    width: 36px;
    height: 46px;
    border: 1px solid #ccc;
    float: left;
    text-align: center;
    line-height: 46px;
    background: none;
    padding: 0;
    color: #666;
    font-size: 12px;
    margin: 0;
}
#detail .mui-amount-btn {
    display: block;
    float: left;
    width: 18px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 46px;
    margin: 0;
}
#detail .mui-amount-increase {
    width: 18px;
    display: block;
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #666;
    background: #f1f1f1;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    border-left: none;
    overflow: hidden;
    cursor: pointer;
}
#detail .mui-amount-decrease {
    width: 18px;
    display: block;
    text-align: center;
    height: 23px;
    line-height: 23px;
    color: #666;
    background: #f1f1f1;
    border: none;
    
    overflow: hidden;
    cursor: pointer;
}
#detail .tb-key .tb-action {
    margin-top: 0;
}
#detail .tb-key .tb-action {
    margin-left: 62px;
    height: 33px;
}
#detail .tb-action {
    margin: 0 0 0 40px;
}
#detail .tb-btn-sku {
    float: left;
}
#detail .tb-btn-sku a {
    width: auto;
    display: block;
    height: 48px !important;
}
#detail .tb-btn-sku a {
    /* margin-right: 0; */
    float: left;
    height: 33px;
    /* overflow: hidden; */
    /* line-height: 33px; */
    /* position: relative; */
    color: #FFF;
    z-index: 0;
    /* font-size: 18px; */
    /* text-align: center; */
    width: 167px;
    /* background-color: #BA7538; */
}
.tb-btn-buy.tb-btn-sku b.focus-btn, .tb-btn-buy.tb-btn-sku a.focus-btn b, #detail .tb-btn-basket b {
    float: left;
    display: block;
    text-align: center;
    width: 140px !important;
    height: 48px !important;
    line-height: 48px !important;
    background: #e5373b !important;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
#detail .new-fwcn {
    overflow: hidden;
    clear: both;
    margin-top: -17px;
}
.new-fwcn label {
    float: left;
    line-height: 14px;
    padding: 0 13px 0 8px;
}

.new-fwcn ul {
    float: left;
    width: 485px;
}
.new-fwcn ul li {
    float: left;
    line-height: 14px;
    padding-left: 17px;
    margin-right: 22px;
}
#detail .tb-gallery {
    margin-left: -100%;
    border-right: 1px solid #EBEBEB;
    border-right: 1px solid rgba(204, 204, 204, .2);
    float: left;
    width: 363px;
    position: relative;
}
.tb-booth {
    border: 1px solid #CDCDCD;
    position: relative;
    z-index: 1;
}
.tb-s310, .tb-s310 a {
    height: 350px;
    width: 350px;
}
.tb-thumb {
    padding: 10px 0 62px 10px;
    overflow: hidden;
}
.tb-thumb li {
    background: none repeat;
    float: left;
    height: 55px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 1px;
}
.tb-thumb .tb-selected, .tb-thumb .tb-thumb-show {
    background: none;
    height: 54px;
    padding: 2px;
    background-color: #C00;
}
.tb-thumb .tb-selected div, .tb-thumb .tb-thumb-show div {
    background-color: #FFFFFF;
    border: medium none;
}
.tb-thumb li div {
    border: 1px solid #CDCDCD;
}
.tb-s40, .tb-s40 a {
    height: 54px;
    width: 54px;
}

.tb-s40 a img {
    width: 54px;
    height: 54px;
    max-width: 54px;
}
.tb-pic a img {
    vertical-align: middle;
}
.tb-gallery .tm-action {
    float: left;
    padding: 0px 0 11px 13px;
    overflow: hidden;
    clear: both;
    color: #999;
}
.tb-gallery .tm-action .iShare {
    float: left;
    margin-right: 1em;
}
/* 图片没有导入，后期需要添加 */
.tb-gallery .tm-action .iShare i {
    display: inline-block;
    height: 15px;
    float: left;
    margin-right: 4px;
    vertical-align: inherit;
    margin-top: 2px;
    width: 11px;
    background-repeat: no-repeat;
    background-position: 0 -32px;
}
#J_AddFavorite, #J_CollectCount {
    float: left;
    height: 20px;
    margin-right: 5px;
    line-height: 22px;
}
#J_AddFavoriteBright, #J_CollectCount {
    float: left;
    height: 20px;
    margin-right: 5px;
    line-height: 22px;
}

#J_EditItem {
    position: absolute;
    right: 10px;
}

























.center {
    margin: 0 auto;
}
.sameproduct {
    width: 990px;
}
.mb10 {
    margin-bottom: 10px !important;
}









.sameproduct_title {
    width: 990px;
    height: 36px;
    line-height: 36px;
}



.fl {
    float: left !important;
}
.fl {
    float: left;
}
.fl {
    float: left !important;
}
.title {
    cursor: pointer;
    background: #f6f6f6;
    font-size: 14px;
    text-align: center;
    height: 34px;
    border: 1px solid #dcdcdc;
    border-left: none;
    border-right: none;
    line-height: 36px;
}
.first {
    border-left: 1px solid #dcdcdc !important;
}
.fl {
    float: left;
}
.w100 {
    width: 100px;
}
.curr {
    font-weight: 700;
    background: #fff !important;
    border-bottom: none !important;
    border-right: 1px solid #dcdcdc !important;
    border-left: 1px solid #dcdcdc !important;
    
}
.empty {
    background: #f6f6f6;
    height: 34px;
    float: left;
    width: 786px;
    border: 1px solid #dcdcdc;
    border-left: none;
}
.content{
    width: 990px;
    height: 281px;
    background-color: yellowgreen;
    margin: 0 auto;
}












