@charset "utf-8";
/**
* fengbuy.com
* 2013.06.06
*/


/* btn */
.btns .btn, .btns .btn span, .btns .btn i{ display:inline-block; background:url(../images/btn_hor.png) no-repeat; vertical-align:middle;}
.btns .btn{ border-width:0; color:#fff; font-size:13px; padding-left:15px; line-height:30px; text-shadow:0 -1px 0 #367d10; white-space:nowrap; word-wrap:normal;}
.btns .btn:hover{ background-position:0 -30px; color:#fff;}
.btns .btn span{ background-position:100% 0; cursor:pointer; padding-right:15px; vertical-align:top;}
.btns .btn:hover span{ background-position:100% -30px;}
.btns .btn i{ background-position:-120px -180px; cursor:pointer; margin:8px 6px 0 -5px; height:16px; width:16px; overflow:hidden; vertical-align:top;}


/* quick_links_pop */
.quick_links_pop, .quick_links_pop .fix_bg{ background:#fcfcfc; border:1px solid #dfdfdf; border-radius:3px;}
.quick_links_pop{ box-shadow:0 2px 8px rgba(0,0,0,.2); margin-right:6px; position:absolute; right:100%; display:none;}
.quick_my_qlinks{ top:240px;}
.quick_leave_message{ bottom:0;}
.quick_links_pop .arrow, .quick_links_pop .arrow i{ display:none; border-color:transparent #ddd; border-style:dashed solid; border-width:12px 0 12px 12px; font-size:0; height:0; width:0; position:absolute; left:100%; top:12px;}
.quick_links_pop .arrow i{ border-color:transparent #f9fafc; margin:-12px 0 0 -13px; left:0; top:0;}
.quick_links_pop .fix_bg{ display:none; border-top-width:0; border-radius:0 0 3px 3px; margin:0 0 -4px -250px; height:2px; width:500px; overflow:hidden; position:absolute; bottom:0; left:50%;}
.quick_links_pop .title{ background:#fdfdfe; background:-moz-linear-gradient(top, #fdfdfe 0%, #f5f7fb 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfe), color-stop(100%,#f5f7fb)); background:-webkit-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-o-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:-ms-linear-gradient(top, #fdfdfe 0%,#f5f7fb 100%); background:linear-gradient(to bottom, #fdfdfe 0%,#f5f7fb 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfe', endColorstr='#f5f7fb',GradientType=0); border-bottom:1px solid #DDD; border-radius:3px 3px 0 0; height:50px;}
.quick_links_pop .title h3{ color:#4467a7; font-size:16px; font-weight:normal; line-height:24px; padding:13px 15px; height:24px;}
.quick_links_pop .title i{ display:inline-block; background:url(../images/bg_hor.png) no-repeat -140px -34px; margin:-3px 6px 0 0; height:22px; width:30px; vertical-align:middle; *margin-top:0;}
.quick_links_pop .pop_panel{ font-size:12px;}
.quick_cart_list, .quick_history_list, .quick_links_pop .links, .quick_my_qlinks, .quick_message_list{ width:256px;}
.quick_cart_list .user_cart_inner, .quick_history_list .history_slider{ display:block; border:0; margin:0; position:static;}
.quick_cart_list .user_cart_inner .del{ display:none;}
.quick_history_list .title i{ background-position:-170px -34px;}
.quick_leave_message{ width:504px;}
.quick_leave_message .title i{ background-position:-160px 0;}
.quick_leave_message .types{ font-size:0; position:absolute; left:148px; top:18px; white-space:nowrap;}
.quick_leave_message .types input, .quick_leave_message .types label{ font-size:12px; margin-right:20px; vertical-align:middle; white-space:nowrap;}
.quick_leave_message .types input{ margin:-2px 3px 0 0; height:13px; width:13px; *margin-top:0;}
.quick_leave_message .txt{ padding:15px 0;}
.quick_leave_message .txt textarea{ display:block; background:#fff; border:1px solid #e8e8e8; border-radius:3px; box-shadow:0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.1); margin:0 auto; padding:8px; height:68px; width:90%;}
.quick_leave_message .token{ padding:0 0 14px 16px; height:26px;}
.quick_leave_message .token input{ background:#fff; border:1px solid #ddd; padding:3px 4px; width:76px; vertical-align:middle;}
.quick_leave_message .token img{ margin-left:5px; vertical-align:middle;}
.quick_leave_message .btns{ float:right; margin-top:-42px; padding-right:16px;}
.quick_leave_message .btn{ background-position:0 -356px; cursor:pointer; font-size:0; padding-left:20px; text-shadow:0 1px 0 #355ba9; overflow:visible;}
.quick_leave_message .btn:hover{ background-position:0 -386px;}
.quick_leave_message .btn span{ background-position:100% -356px; font-size:12px; padding-right:20px; *height:29px;}
.quick_leave_message .btn:hover span{ background-position:100% -386px;}
.quick_links_pop .no_data{ color:#333; font-size:14px; padding:35px 10px; text-align:center;}
.quick_links_pop .no_data i{ display:inline-block; background:url(../images/cart_new.png) no-repeat 0 -188px; margin:0 10px 0 0; height:36px; width:60px; vertical-align:middle;}
.quick_links_pop .links li{ border-top:1px solid #f1f1f1; vertical-align:top;}
.quick_links_pop .links a{ display:block; background:#FCFCFC; color:#333; font-size:14px; padding:12px 15px;}
.quick_links_pop .links a:hover{ background-color:#F2F3F4; color:#4467a7;}
.quick_links_pop .links .tips{ float:right; color:#61c2ed; font-size:12px;}
.quick_my_qlinks .title i{ background-position:-200px 0; height:22px; width:22px;}
.quick_message_list .title i{ background-position:-200px -34px; height:22px; width:22px;}
.quick_message_list .no_data i{ background-image:url(../images/quick_links_no_msg.png); background-position:0 0; height:45px; width:62px;}
